pre {
  font-size: 12.6px;
}

.roboto-mono-mostafa {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

@media print {
  @page {
    size: A4 portrait; /* auto is default portrait; */
    margin: 0;
  }

  pre {
    margin-top: -16px;
  }
}
